<!--
  Generated template for the AddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Add a easter egg</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="tutorial-page">

  <ion-slides pager>
    <ion-slide>
      <ion-toolbar>
      </ion-toolbar>
      <img src="assets/imgs/controller_pic.png" class="slide-image" />
      <h2 class="slide-title">{{ selectGame }}</h2>
      <p>{{ description }}</p>
     
  <ion-searchbar [(ngModel)]="game" (input)="getItems($event)" placeholder="Search"></ion-searchbar>
    <ion-list>
        <button ion-item *ngFor="let item of items" (click)="chooseGame(item)">
            {{item}}
        </button>
    </ion-list>
    </ion-slide>
    <ion-slide>
      <ion-toolbar>
      </ion-toolbar>
      <img src="assets/imgs/mario.png" class="slide-image" />
      <h2 class="slide-title">Enter Title!</h2>
      <p>Please enter title of blog</p>
      <ion-item>
          <ion-input type="text" placeholder="Enter here!"></ion-input>
      </ion-item>
	  <p>Add detail of a game</p>
      <ion-item>
          <ion-textarea rows="5" placeholder="Enter a description"></ion-textarea>
      </ion-item>
    </ion-slide>
    <ion-slide>
	<ion-scroll style="position:absolute; top: 0; bottom: 0; width:100%;" scrollY="true">
      <ion-toolbar>
      </ion-toolbar>
      <img src="assets/imgs/pikachu.png" class="slide-image" />
      <h2 class="slide-title">add some detail!</h2>
      <p>Add easter egg's detail</p>
      <form [formGroup]="form_egg">
   	  <ion-list margin-bottom>
	     <div formArrayName="egg" margin-bottom>
            <section [formGroupName]="i" *ngFor="let tech of form_egg.controls.egg.controls; let i = index">
               <ion-item-group>
               	  <ion-item-divider color="light">Easter egg #{{ i + 1 }}</ion-item-divider>
                  <ion-item>
                     <ion-label floating>Name:</ion-label>
                     <ion-input type="text" maxlength="50" formControlName="easter_name"></ion-input>
                  </ion-item>
				  <ion-item>
                     <ion-label floating>Detail:</ion-label>
                     <ion-input type="text" maxlength="50" formControlName="easter_detail"></ion-input>
                  </ion-item>
				  <ion-item *ngIf="form_egg.controls.egg.length == 1" ></ion-item>
                  <span float-right ion-button icon-left clear *ngIf="form_egg.controls.egg.length > 1" (click)="removeInputField(i)"><ion-icon name="close"></ion-icon>Remove</span>
               </ion-item-group>
            </section>
         </div>
         <span ion-button float-left icon-left clear (click)="addNewInputField()"><ion-icon name="add"></ion-icon>Add a new Easter egg</span>
   	 </ion-list>
   </form>
   </ion-scroll>
    </ion-slide>
    <ion-slide>
      <ion-toolbar>
      </ion-toolbar>
      <img src="assets/imgs/pacman.png" class="slide-image" />
      <h2 class="slide-title">Ready to commit?</h2>
      <button ion-button large clear icon-end color="primary" (click)="manage(form_egg.value)" [disabled]="!form_egg.valid">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
